<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.code.toboggan.modelmgr.request.file.changeextension"
         name="org.code.toboggan.modelmgr.request.file.changeextension"
         point="org.code.toboggan.network.request.extensionpoints.file.change">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileChange">
         </create>
    </extension>
	<extension
         id="org.code.toboggan.modelmgr.request.file.createextension"
         name="org.code.toboggan.modelmgr.request.file.createextension"
         point="org.code.toboggan.network.request.extensionpoints.file.create">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileCreate">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.file.deleteextension"
         name="org.code.toboggan.modelmgr.request.file.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.file.delete">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileDelete">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.notification.file.deleteextension"
         name="org.code.toboggan.modelmgr.notification.file.deleteextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.delete">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileDelete">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.filesystem.file.moveextension"
         name="org.code.toboggan.modelmgr.filesystem.file.moveextension"
         point="org.code.toboggan.filesystem.file.move">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileMove">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.filesystem.file.renameextension"
         name="org.code.toboggan.modelmgr.filesystem.file.renameextension"
         point="org.code.toboggan.filesystem.file.rename">
         <create
         	class="org.code.toboggan.modelmgr.extensions.file.ModelMgrFileRename">
         </create>
   </extension>
   
   <extension
         id="org.code.toboggan.modelmgr.filesystem.project.createextension"
         name="org.code.toboggan.modelmgr.filesystem.project.createextension"
         point="org.code.toboggan.filesystem.project.create">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectCreate">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.deleteextension"
         name="org.code.toboggan.modelmgr.request.project.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.project.delete">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectDelete">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.notification.project.deleteextension"
         name="org.code.toboggan.modelmgr.notification.project.deleteextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.delete">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectDelete">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.fetchsubscribeallextension"
         name="org.code.toboggan.modelmgr.request.project.fetchsubscribeallextension"
         point="org.code.toboggan.network.request.extensionpoints.project.fetchsubscribeall">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectFetchAndSubscribeAll">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.getfilesextension"
         name="org.code.toboggan.modelmgr.request.project.getfilesextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getfiles">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectGetFiles">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.getpermissionsconstantsextension"
         name="org.code.toboggan.modelmgr.request.project.getpermissionsconstantsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getpermissionconstants">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectGetPermissionConstants">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.grantpermissionsextension"
         name="org.code.toboggan.modelmgr.request.project.grantpermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.grantpermissions">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectGrantPermissions">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.notification.project.grantpermissionsextension"
         name="org.code.toboggan.modelmgr.notification.project.grantpermissionsextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.grantpermissions">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectGrantPermissions">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.lookupextension"
         name="org.code.toboggan.modelmgr.request.project.lookupextension"
         point="org.code.toboggan.network.request.extensionpoints.project.lookup">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectLookup">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.renameextension"
         name="org.code.toboggan.modelmgr.request.project.renameextension"
         point="org.code.toboggan.network.request.extensionpoints.project.rename">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectRename">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.filesystem.project.renameextension"
         name="org.code.toboggan.modelmgr.filesystem.project.renameextension"
         point="org.code.toboggan.filesystem.project.rename">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectRename">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.revokepermissionsextension"
         name="org.code.toboggan.modelmgr.request.project.revokepermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.revokepermissions">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectRevokePermissions">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.filesystem.project.subscribeextension"
         name="org.code.toboggan.modelmgr.filesystem.project.subscribeextension"
         point="org.code.toboggan.filesystem.project.subscribe">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectSubscribe">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.modelmgr.request.project.unsubscribeextension"
         name="org.code.toboggan.modelmgr.request.project.unsubscribeextension"
         point="org.code.toboggan.network.request.extensionpoints.project.unsubscribe">
         <create
         	class="org.code.toboggan.modelmgr.extensions.project.ModelMgrProjectUnsubscribe">
         	
         </create>
   </extension>
   <extension
		 id="org.code.toboggan.modelmgr.request.user.loginextension"
         name="org.code.toboggan.modelmgr.request.user.loginextension"
         point="org.code.toboggan.network.request.extensionpoints.user.login">
         <create
         	class="org.code.toboggan.modelmgr.extensions.user.ModelMgrUserLogin">
         </create>
   </extension>
</plugin>
