<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <category
            id="org.code.toboggan"
            name="CodeCollaborate">
	      </category>
	      <view
            category="org.code.toboggan"
            class="org.code.toboggan.ui.view.ControlPanel"
            id="org.code.toboggan.ui.view.ControlPanel"
            name="CodeCollaborate">
      </view>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.changeextension"
         name="org.code.toboggan.ui.error.response.file.changeextension"
         point="org.code.toboggan.network.request.extensionpoints.file.change">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.createextension"
         name="org.code.toboggan.ui.error.response.file.createextension"
         point="org.code.toboggan.network.request.extensionpoints.file.create">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.deleteextension"
         name="org.code.toboggan.ui.error.response.file.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.file.delete">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.moveextension"
         name="org.code.toboggan.ui.error.response.file.moveextension"
         point="org.code.toboggan.network.request.extensionpoints.file.move">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.pullextension"
         name="org.code.toboggan.ui.error.response.file.pullextension"
         point="org.code.toboggan.network.request.extensionpoints.file.pull">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.pulldiffsendchangesextension"
         name="org.code.toboggan.ui.error.response.file.pulldiffsendchangesextension"
         point="org.code.toboggan.network.request.extensionpoints.file.pulldiffsendchanges">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.renameextension"
         name="org.code.toboggan.ui.error.response.file.renameextension"
         point="org.code.toboggan.network.request.extensionpoints.file.rename">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.createextension"
         name="org.code.toboggan.ui.error.response.project.createextension"
         point="org.code.toboggan.network.request.extensionpoints.project.create">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.deleteextension"
         name="org.code.toboggan.ui.error.response.project.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.project.delete">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.fetchsubscribeallextension"
         name="org.code.toboggan.ui.error.response.project.fetchsubscribeallextension"
         point="org.code.toboggan.network.request.extensionpoints.project.fetchsubscribeall">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.getfilesextension"
         name="org.code.toboggan.ui.error.response.project.getfilesextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getfiles">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.getpermissionconstantsextension"
         name="org.code.toboggan.ui.error.response.project.getpermissionconstantsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getpermissionconstants">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.grantpermissionsextension"
         name="org.code.toboggan.ui.error.response.project.grantpermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.grantpermissions">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.lookupextension"
         name="org.code.toboggan.ui.error.response.project.lookupextension"
         point="org.code.toboggan.network.request.extensionpoints.project.lookup">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.renameextension"
         name="org.code.toboggan.ui.error.response.project.renameextension"
         point="org.code.toboggan.network.request.extensionpoints.project.rename">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.revokepermissionsextension"
         name="org.code.toboggan.ui.error.response.project.revokepermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.revokepermissions">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.subscribeextension"
         name="org.code.toboggan.ui.error.response.project.subscribeextension"
         point="org.code.toboggan.network.request.extensionpoints.project.subscribe">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.unsubscribeextension"
         name="org.code.toboggan.ui.error.response.project.unsubscribeextension"
         point="org.code.toboggan.network.request.extensionpoints.project.unsubscribe">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.loginextension"
         name="org.code.toboggan.ui.error.response.user.loginextension"
         point="org.code.toboggan.network.request.extensionpoints.user.login">
         <create
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.lookupextension"
         name="org.code.toboggan.ui.error.response.user.loginextension"
         point="org.code.toboggan.network.request.extensionpoints.user.lookup">
         <create
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.projectsextension"
         name="org.code.toboggan.ui.error.response.user.projectsextension"
         point="org.code.toboggan.network.request.extensionpoints.user.projects">
         <create
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.registerextension"
         name="org.code.toboggan.ui.error.response.user.registerextension"
         point="org.code.toboggan.network.request.extensionpoints.user.register">
         <create
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.createextension"
         name="org.code.toboggan.ui.error.notification.file.createextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.create">
         <create
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.deleteextension"
         name="org.code.toboggan.ui.error.notification.file.createextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.delete">
         <create
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.moveextension"
         name="org.code.toboggan.ui.error.notification.file.moveextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.move">
         <create
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.renameextension"
         name="org.code.toboggan.ui.error.notification.file.renameextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.rename">
         <create
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.deleteextension"
         name="org.code.toboggan.ui.error.notification.project.deleteextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.delete">
         <create
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.grantpermissionsextension"
         name="org.code.toboggan.ui.error.notification.project.grantpermissionsextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.grantpermissions">
         <create
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.renameextension"
         name="org.code.toboggan.ui.error.notification.project.renameextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.rename">
         <create
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.revokepermissionsextension"
         name="org.code.toboggan.ui.error.notification.project.revokepermissionsextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.revokepermissions">
         <create
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.moveextension"
         name="org.code.toboggan.ui.error.filesystem.file.moveextension"
         point="org.code.toboggan.filesystem.file.move">
         <create
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.pullextension"
         name="org.code.toboggan.ui.error.filesystem.file.pullextension"
         point="org.code.toboggan.filesystem.file.pull">
         <create
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.renameextension"
         name="org.code.toboggan.ui.error.filesystem.file.renameextension"
         point="org.code.toboggan.filesystem.file.rename">
         <create
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.project.createextension"
         name="org.code.toboggan.ui.error.filesystem.project.createextension"
         point="org.code.toboggan.filesystem.project.create">
         <create
         	class="org.code.toboggan.ui.error.filesystem.ProjectFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.project.subscribeextension"
         name="org.code.toboggan.ui.error.filesystem.project.subscribeextension"
         point="org.code.toboggan.filesystem.project.subscribe">
         <create
         	class="org.code.toboggan.ui.error.filesystem.ProjectFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.code.toboggan.ui.preferences.GeneralPreferencesPage"
            id="cceclipseplugin.preferences"
            name="CodeCollaborate">
      </page>
   </extension>
   <extension
         id="org.code.toboggan.ui.dialogs.ws.event"
         name="org.code.toboggan.ui.dialogs.ws.event"
         point="org.code.toboggan.network.ws.event">
         <create
         	class="org.code.toboggan.ui.dialogs.extensions.DialogWSEvent">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.view.ws.event"
         name="org.code.toboggan.ui.view.ws.event"
         point="org.code.toboggan.network.ws.event">
         <create
         	class="org.code.toboggan.ui.view.extensions.ControlPanelWSEvent">
         </create>
   </extension>
   <extension
		 id="org.code.toboggan.ui.dialogs.storagelistener"
         name="org.code.toboggan.ui.dialogs.storagelistener"
         point="org.code.toboggan.core.storagelistener">
         <create
         	class="org.code.toboggan.ui.dialogs.extensions.DialogStorageListener">
         </create>
   </extension>
   <extension
		 id="org.code.toboggan.ui.dialogs.storagelistener"
         name="org.code.toboggan.ui.dialogs.storagelistener"
         point="org.code.toboggan.core.storagelistener">
         <create
         	class="org.code.toboggan.ui.view.extensions.ControlPanelWSEvent">
         </create>
   </extension>
</plugin>
