<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <category
            id="org.code.toboggan"
            name="CodeCollaborate">
	      </category>
	      <view
            category="org.code.toboggan"
            class="org.code.toboggan.ui.view.ControlPanel"
            id="org.code.toboggan.ui.view.ControlPanel"
            name="CodeCollaborate">
      </view>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.changeextension"
         name="org.code.toboggan.ui.error.response.file.changeextension"
         point="org.code.toboggan.network.request.extensionpoints.file.change">
         <change
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </change>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.createextension"
         name="org.code.toboggan.ui.error.response.file.createextension"
         point="org.code.toboggan.network.request.extensionpoints.file.create">
         <create
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.deleteextension"
         name="org.code.toboggan.ui.error.response.file.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.file.delete">
         <delete
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </delete>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.moveextension"
         name="org.code.toboggan.ui.error.response.file.moveextension"
         point="org.code.toboggan.network.request.extensionpoints.file.move">
         <move
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </move>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.pullextension"
         name="org.code.toboggan.ui.error.response.file.pullextension"
         point="org.code.toboggan.network.request.extensionpoints.file.pull">
         <pull
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </pull>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.pulldiffsendchangesextension"
         name="org.code.toboggan.ui.error.response.file.pulldiffsendchangesextension"
         point="org.code.toboggan.network.request.extensionpoints.file.pulldiffsendchanges">
         <pulldiffsendchanges
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </pulldiffsendchanges>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.file.renameextension"
         name="org.code.toboggan.ui.error.response.file.renameextension"
         point="org.code.toboggan.network.request.extensionpoints.file.rename">
         <rename
         	class="org.code.toboggan.ui.error.response.FileResponseErrorDisplay">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.createextension"
         name="org.code.toboggan.ui.error.response.project.createextension"
         point="org.code.toboggan.network.request.extensionpoints.project.create">
         <create
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.deleteextension"
         name="org.code.toboggan.ui.error.response.project.deleteextension"
         point="org.code.toboggan.network.request.extensionpoints.project.delete">
         <delete
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </delete>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.fetchsubscribeallextension"
         name="org.code.toboggan.ui.error.response.project.fetchsubscribeallextension"
         point="org.code.toboggan.network.request.extensionpoints.project.fetchsubscribeall">
         <fetchsubscribeall
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </fetchsubscribeall>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.getfilesextension"
         name="org.code.toboggan.ui.error.response.project.getfilesextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getfiles">
         <getfiles
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </getfiles>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.getpermissionconstantsextension"
         name="org.code.toboggan.ui.error.response.project.getpermissionconstantsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.getpermissionconstants">
         <getpermissionconstants
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </getpermissionconstants>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.grantpermissionsextension"
         name="org.code.toboggan.ui.error.response.project.grantpermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.grantpermissions">
         <grantpermissions
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </grantpermissions>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.lookupextension"
         name="org.code.toboggan.ui.error.response.project.lookupextension"
         point="org.code.toboggan.network.request.extensionpoints.project.lookup">
         <lookup
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </lookup>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.renameextension"
         name="org.code.toboggan.ui.error.response.project.renameextension"
         point="org.code.toboggan.network.request.extensionpoints.project.rename">
         <rename
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.revokepermissionsextension"
         name="org.code.toboggan.ui.error.response.project.revokepermissionsextension"
         point="org.code.toboggan.network.request.extensionpoints.project.revokepermissions">
         <revokepermissions
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </revokepermissions>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.subscribeextension"
         name="org.code.toboggan.ui.error.response.project.subscribeextension"
         point="org.code.toboggan.network.request.extensionpoints.project.subscribe">
         <subscribe
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </subscribe>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.project.unsubscribeextension"
         name="org.code.toboggan.ui.error.response.project.unsubscribeextension"
         point="org.code.toboggan.network.request.extensionpoints.project.unsubscribe">
         <unsubscribe
         	class="org.code.toboggan.ui.error.response.ProjectResponseErrorDisplay">
         </unsubscribe>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.loginextension"
         name="org.code.toboggan.ui.error.response.user.loginextension"
         point="org.code.toboggan.network.request.extensionpoints.user.login">
         <login
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </login>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.lookupextension"
         name="org.code.toboggan.ui.error.response.user.loginextension"
         point="org.code.toboggan.network.request.extensionpoints.user.lookup">
         <lookup
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </lookup>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.projectsextension"
         name="org.code.toboggan.ui.error.response.user.projectsextension"
         point="org.code.toboggan.network.request.extensionpoints.user.projects">
         <projects
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </projects>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.response.user.registerextension"
         name="org.code.toboggan.ui.error.response.user.registerextension"
         point="org.code.toboggan.network.request.extensionpoints.user.register">
         <register
         	class="org.code.toboggan.ui.error.response.UserResponseErrorDisplay">
         </register>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.createextension"
         name="org.code.toboggan.ui.error.notification.file.createextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.create">
         <create
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.deleteextension"
         name="org.code.toboggan.ui.error.notification.file.createextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.delete">
         <delete
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </delete>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.moveextension"
         name="org.code.toboggan.ui.error.notification.file.moveextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.move">
         <move
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </move>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.file.renameextension"
         name="org.code.toboggan.ui.error.notification.file.renameextension"
         point="org.code.toboggan.network.notification.extensionpoints.file.rename">
         <rename
         	class="org.code.toboggan.ui.error.notification.FileNotificationErrorDisplay">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.deleteextension"
         name="org.code.toboggan.ui.error.notification.project.deleteextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.delete">
         <delete
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </delete>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.grantpermissionsextension"
         name="org.code.toboggan.ui.error.notification.project.grantpermissionsextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.grantpermissions">
         <grantpermissions
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </grantpermissions>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.renameextension"
         name="org.code.toboggan.ui.error.notification.project.renameextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.rename">
         <rename
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.notification.project.revokepermissionsextension"
         name="org.code.toboggan.ui.error.notification.project.revokepermissionsextension"
         point="org.code.toboggan.network.notification.extensionpoints.project.revokepermissions">
         <revokepermissions
         	class="org.code.toboggan.ui.error.notification.ProjectNotificationErrorDisplay">
         </revokepermissions>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.moveextension"
         name="org.code.toboggan.ui.error.filesystem.file.moveextension"
         point="org.code.toboggan.filesystem.file.move">
         <move
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </move>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.pullextension"
         name="org.code.toboggan.ui.error.filesystem.file.pullextension"
         point="org.code.toboggan.filesystem.file.pull">
         <pull
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </pull>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.file.renameextension"
         name="org.code.toboggan.ui.error.filesystem.file.renameextension"
         point="org.code.toboggan.filesystem.file.rename">
         <rename
         	class="org.code.toboggan.ui.error.filesystem.FileFilesystemErrorDisplay">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.project.createextension"
         name="org.code.toboggan.ui.error.filesystem.project.createextension"
         point="org.code.toboggan.filesystem.project.create">
         <create
         	class="org.code.toboggan.ui.error.filesystem.ProjectFilesystemErrorDisplay">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.ui.error.filesystem.project.subscribeextension"
         name="org.code.toboggan.ui.error.filesystem.project.subscribeextension"
         point="org.code.toboggan.filesystem.project.subscribe">
         <subscribe
         	class="org.code.toboggan.ui.error.filesystem.ProjectFilesystemErrorDisplay">
         </subscribe>
   </extension>

</plugin>
