<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.code.toboggan.filesystem.createextension"
         name="Project Create Extension"
         point="org.code.toboggan.core.project.create">
         <create
         	class="org.code.toboggan.network.request.extensions.project.NetworkProjectCreate">
         </create>
   </extension>
  
   <extension
         id="org.code.toboggan.core.project.renameextension"
         name="org.code.toboggan.core.project.renameextension"
         point="org.code.toboggan.core.project.rename">
         <rename
         	class="org.code.toboggan.network.request.extensions.project.NetworkProjectRename">
     	</rename>
   </extension> 
   
   <extension
         id="org.code.toboggan.core.project.deleteextension"
         name="org.code.toboggan.core.project.deleteextension"
         point="org.code.toboggan.core.project.delete">
         <delete
         	class="org.code.toboggan.network.request.extensions.project.NetworkProjectDelete">
         </delete>
   </extension>
   <extension
   		 id="org.code.toboggan.core.project.fetchsubscribeallextension"
   		 name="org.code.toboggan.core.project.fetchsubscribeallextension"
         point="org.code.toboggan.core.project.fetchsubscribeall">
         <fetchsubscribeall
         	class="org.code.toboggan.network.request.extensions.project.NetworkProjectFetchAndSubscribeAll">
         </fetchsubscribeall>
   </extension>
   <extension
         id="org.code.toboggan.core.project.getfilesextension"
         name="org.code.toboggan.core.project.getfilesextension"
         point="org.code.toboggan.core.project.getfiles">
         <getfiles
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectGetFiles">
         </getfiles>
   </extension>
   <extension
         id="org.code.toboggan.core.project.getpermissionconstantsextension"
         name="org.code.toboggan.core.project.getpermissionconstantsextension"
         point="org.code.toboggan.core.project.getpermissionconstants">
         <getpermissionconstants
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectGetPermissionConstants">
         </getpermissionconstants>
	</extension>
   <extension
         id="org.code.toboggan.core.project.lookupextension"
         name="org.code.toboggan.core.project.lookupextension"
         point="org.code.toboggan.core.project.grantpermissions">
         <lookup
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectLookup">
         </lookup>
   </extension>
   <extension
         id="org.code.toboggan.core.project.revokepermissionsextension"
         name="org.code.toboggan.core.project.revokepermissionsextension"
         point="org.code.toboggan.core.project.revokepermissions">
         <revokepermissions
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectRevokePermissions">
         </revokepermissions>
   </extension>
   <extension
         id="org.code.toboggan.core.project.subscribeextension"
         name="org.code.toboggan.core.project.subscribeextension"
         point="org.code.toboggan.core.project.subscribe">
         <subscribe
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectSubscribe">
         </subscribe>
   </extension>
   <extension
         id="org.code.toboggan.core.project.unsubscribeextension"
         name="org.code.toboggan.core.project.unsubscribeextension"
         point="org.code.toboggan.core.project.unsubscribe">
         <unsubscribe
         	class="org.code.toboggan.network.request.extension.project.NetworkProjectUnsubscribe">
     	</unsubscribe>
   </extension>
   <extension
         id="org.code.toboggan.core.file.createextension"
         name="org.code.toboggan.core.file.createextension"
         point="org.code.toboggan.core.file.create">
         <create
         	class="org.code.toboggan.network.request.extension.file.NetworkFileCreate">
         </create>
   </extension>
   <extension
         id="org.code.toboggan.core.file.deleteextension"
         name="org.code.toboggan.core.file.deleteextension"
         point="org.code.toboggan.core.file.delete">
         <delete
         	class="org.code.toboggan.network.request.extension.file.NetworkFileDelete">
         </delete>
   </extension>
   <extension
         id="org.code.toboggan.core.file.moveextension"
         name="org.code.toboggan.core.file.moveextension"
         point="org.code.toboggan.core.file.move">
         <move
         	class="org.code.toboggan.network.request.extension.file.NetworkFileMove">
         </move>
   </extension>
   <extension
         id="org.code.toboggan.core.file.pullextension"
         name="org.code.toboggan.core.file.pullextension"
         point="org.code.toboggan.core.file.pull">
         <pull
         	class="org.code.toboggan.network.request.extension.file.NetworkFilePull">
         </pull>
   </extension>
   <extension
         id="org.code.toboggan.core.file.pulldiffsendchangesextension"
         name="org.code.toboggan.core.file.pulldiffsendchangesextension"
         point="org.code.toboggan.core.file.pulldiffsendchanges">
         <pulldiffsendchanges
         	class="org.code.toboggan.network.request.extension.file.NetworkFilePullDiffSendChanges">
         </pulldiffsendchanges>
   </extension>
   <extension
         id="org.code.toboggan.core.file.renameextension"
         name="org.code.toboggan.core.file.renameextension"
         point="org.code.toboggan.core.file.rename">
         <rename
         	class="org.code.toboggan.network.request.extension.file.NetworkFileRename">
         </rename>
   </extension>
   <extension
         id="org.code.toboggan.core.user.loginextension"
         name="org.code.toboggan.core.user.loginextension"
         point="org.code.toboggan.core.user.login">
         <login
         	class="org.code.toboggan.network.request.extension.user.NetworkUserLogin">
         </login>
   </extension>
   <extension
         id="org.code.toboggan.core.user.lookupextension"
         name="org.code.toboggan.core.user.lookupextension"
         point="org.code.toboggan.core.user.lookup">
         <lookup
         	class="org.code.toboggan.network.request.extension.user.NetworkUserLookup">
         </lookup>
   </extension>
   <extension
         id="org.code.toboggan.core.user.projectsextension"
         name="org.code.toboggan.core.user.projectsextension"
         point="org.code.toboggan.core.user.projects">
         <projects
         	class="org.code.toboggan.network.request.extension.user.NetworkUserProjects">
         </projects>
   </extension>
   <extension
         id="org.code.toboggan.core.user.registerextension"
         name="org.code.toboggan.core.user.projectsextension"
         point="org.code.toboggan.core.user.register">
         <register
         	class="org.code.toboggan.network.request.extension.user.NetworkUserRegister">
         </register>
   </extension>
</plugin>
